{% extends "cdf_app/base.html" %}
{% block content %}
<form class="row" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="col-auto">
      <input class="form-control" type="file" id="formFile" name="csv_file">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
{% if remarks == 'success' %}
    <div class="col-auto alert alert-info alert-dismissible fade show my-2" role="alert">
      Upload Successfully!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elif remarks == 'delete' %}
    <div class="col-auto alert alert-warning alert-dismissible fade show my-2" role="alert">
      A file!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elif remarks == 'error' %}
    <div class="col-auto alert alert-danger alert-dismissible fade show my-2" role="alert">
      Error on uploading file!
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
{% if files %}
<table class="table table-sm table-hover table-bordered my-4">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Items</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.id }}</td>
            <td><i class="fas fa-file-csv"></i> {{ file.data_name }}</td>
            <td>{{ file.data_items }}</td>
            <td class="d-flex">
                <a href="{% url 'data-view' file.id %}" class="btn btn-sm btn-info mx-2">View</a>
                <a href="{% url 'data-delete' file.id %}" class="btn btn-sm btn-warning mx-2">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="my-2">No data</div>
{% endif %}
   
{% endblock content %}